{
	admin 127.0.0.1:2019
	skip_install_trust
}

https://renekton.dusky-diatonic.ts.net:18790 {
	tls {
		get_certificate tailscale
	}
	reverse_proxy 127.0.0.1:18789
}

https://renekton.dusky-diatonic.ts.net:6080 {
	tls {
		get_certificate tailscale
	}
	reverse_proxy 127.0.0.1:16080
}
